/****GENERAL********/
body {
  background-color: #ece2da;
}
/*****HEADER*****/

.menu {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 70px;
  font-family: "Syne", sans-serif;
  background-color: white;
}

ol,
ul {
  gap: 30px;
}

a {
  text-decoration: none;
  color: black;
}

#menu-item-97 {
  height: 70px;
  width: 201px;
  background-color: #dc9f96;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-item-97 a {
  color: white;
}

/*******BODY*******/

.premium-cf7-container .wpcf7-form {
  flex-direction: column;
  align-items: center;
}

/*******FOOTER******/
.menu-class-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: white;
  font-family: "Syne", sans-serif;
  margin: 0px;
}

.menu-class-footer a {
  text-decoration: none;
  color: black;
}

/******pageNousRencontrer****/
.wpcf7-submit {
  text-align: center;
}
