/*
Theme Name: BlankSlate Child
Theme URI: https://github.com/tidythemes/blankslate
Template: blankslate
Author: TidyThemes
Author URI: https://github.com/tidythemes
Description: Donations: https://calmestghost.com/donate. BlankSlate is the definitive WordPress boilerplate starter theme. We've carefully constructed the most clean and minimalist theme possible for designers and developers to use as a base to build websites for clients or to build completely custom themes from scratch. Clean, simple, unstyled, semi-minified, unformatted, and valid code, SEO-friendly, jQuery-enabled, no programmer comments, standardized and as white label as possible, and most importantly, the CSS is reset for cross-browser-compatability and no intrusive visual CSS styles have been added whatsoever. A perfect skeleton theme. For support and suggestions, go to: https://github.com/tidythemes/blankslate/issues. Thank you.
Tags: accessibility-ready,one-column,two-columns,custom-menu,featured-images,microformats,sticky-post,threaded-comments,translation-ready
Version: 2023.1690722601
Updated: 2023-07-30 13:10:01

*/

/****GENERAL********/
body {
  background-color: #ece2da;
}

ol,
ul {
  gap: 30px;
}

a {
  text-decoration: none;
  color: black;
}

/*****HEADER FOR USER LOGGED*****/
.menu {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 70px;
  font-family: "Syne", sans-serif;
  background-color: white;
}

#menu-item-97 {
  height: 70px;
  width: 201px;
  background-color: #dc9f96;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-item-97 a {
  color: white;
}

#menu-item-334 {
  flex: auto;
  margin-left: 30px;
}

/***HEADER FOR USER NOT LOGGED****/

#menu-navig-without-admin.menu {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 70px;
  font-family: "Syne", sans-serif;
  background-color: white;
}

#menu-item-466 {
  height: 70px;
  width: 201px;
  background-color: #dc9f96;
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-item-466 a {
  color: white;
}

#menu-item-465 {
  flex: auto;
  margin-left: 30px;
}

/*******BODY*******/

.premium-cf7-container .wpcf7-form {
  flex-direction: column;
  align-items: center;
}

/*** 

/*******FOOTER******/
.menu-class-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: white;
  font-family: "Syne", sans-serif;
  margin: 0px;
}

.menu-class-footer a {
  text-decoration: none;
  color: black;
}

/******pageNousRencontrer****/
.wpcf7-submit {
  text-align: center;
}
